[Unit]
Description="uWSGI server instance for flask-python app: vkg (psu-calc) or TokenLife"
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/usr/share/nginx/html/vkg/
Environment=FLASK_ENV=test
ExecStart=/home/Nancy/anaconda3/bin/uwsgi --ini /usr/share/nginx/html/vkg/app.ini

[Install]
WantedBy=multi-user.target

