<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head profile="https://www.w3.org/2005/10/profile">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Nancy Schorr">
<meta name="date" content="2018-11-15" scheme="YYYY-MM-DD">

<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<meta property="og:title" content="TokenCalc" >
<meta property="og:url" content="https://nuls.io/" >
<meta property="og:image" content="vikinglogo.jpg" >

<meta property="og:description" content="This will query the Nuls Chain Factory blockchain. Written by Kathy Norman,
Nancy Schorr and Nuls using Python 3.7, Flask, CSS, Html, etc." />

<link rel=stylesheet href="../static/style.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Hind|Lato|Open+Sans|Roboto&display=swap" rel="stylesheet">
<!--font-family: 'Hind', sans-serif;-->
<!--font-family: 'Lato', sans-serif;-->
<!--font-family: 'Roboto', sans-serif;-->
<!--font-family: 'Open Sans', sans-serif;-->
<style>

.maintitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 42!important;
  font-weight: 700;
  color:white;
  text-shadow: 3px 4px 4px #darkblue;
}

.maindiv {  margin-top:5px; padding:1px;
      background: linear-gradient(to bottom right,#a98975, #ffcccc, # 100%);
}
.row {
  display: flex;            /* equal height of the children */
}
.col {
  flex: 2;                        /* additionally, equal width */
  padding: 2em;
}
.chind { "font-family: Hind,sans-serif; line-height:22;" }
.mont { "'Montserrat',sans-serif; line-height:22;" }

</style>



    <title>Token Life</title>
</head>

<body style="background:#805ad5;font-family:'Hind', serif;">





<div class="row">

  <div class="col">
      <img src="../static/vikinglogo.jpg" alt="VikingChain">
  </div>


  <div style="font-size:32px;margin-top:5px;" class="col maintitle">Welcome to Token Life
  </div>

</div>            <!-- end row -->





<div class="maindiv">


<div id="textbody" class="textbody" style="padding: 1px 3em .4em 1.5em; margin:.2em; font-size: 20px;
   line-spacing:1.5">


<div id="inset" style="margin:1em; padding: 1.2em 1em 1em 5em; background:white;
    border-radius:4px;">

   <h3 class="hind">Test out different values here, and see a plot of how they play out over time. </h3>

<h4 class="hind" style="color:#26386b">Intervals can be thought of as months or 30/day increments.</h4>


<h5 class="hind">&emsp;&emsp;For this blockchain, the following values are set:   </h5>

<div class="hind" style="left-margin:2em;">

Initial Supply : 100,000,000 VKGs/NULS<br>

Inflation begins in intervals: 24 (2 years)<br>

Inflation tokens per interval: 5,000,000 / 12 (416,666.66) VKGs or NULs<br>

Inflation is turned off when inflation reaches: 210,000,000  VKGs/NULS<br>

De-inflation ratio is: 0.004<br>

De-inflation and inflation begin at the same time.<br>
<br>
</div>

  <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< form >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->



  <h3>Enter Adjustments</h3>

<span style="margin-bottom: 4px;"> </span>

<form action="/plots" method ="POST" >

Initial Supply :
<input type="text" size="20" value="100000000" name="initial_supply">&nbsp;<br>
<span style="margin-bottom: 4px;"> </span>

    Inflation tokens per interval:
<input type="text" size="20" value="5000000" name="annual_inflation">&nbsp;<br>
<span style="margin-bottom: 4px;"> </span>

Inflation begins in intervals:
  <input type="text" size="20" name="start_inflation" value="24">&nbsp;<br>

Inflation stops at:
  <input type="text" size="20" value="210000000" name="stop_inflation">&nbsp;<br>


    De-inflation ratio:
  <input type="text" size="20" value="0.004" name="deflation_ratio">&nbsp;<br>


<input type="submit" value=" Plot it "
       style="width:7em; min-width:7em;  background: #dd6b20;
       color:white; text-shadow: 3px 2px 5px #a98975; padding: 5px; margin-left:5em;
       margin-top:1.5em; font-size: 21px;
        font-weight:700; font-family:Montserrat, sans-serif; border-radius:.7em;">

</form>
    </div> <!-- inset -->
</div>  <!-- text -->
<br>

</div>  <!-- main -->


</body>

</html>
