<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" prefix="og: http://ogp.me/ns#" style=" background:#f7f7f7!important; padding: 1rem;">

<head profile="https://www.w3.org/2005/10/profile">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Nancy Schorr">
<meta name="date" content="2018-11-15" scheme="YYYY-MM-DD">
  <meta property="og:title" content="TokenCalc" />
  <meta property="og:url" content="https://nuls.io/" />
  <meta property="og:image" content="vikinglogo.jpg" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <meta property="og:description" content="This will query the Nuls Chain Factory blockchain. Written by Kathy Norman,
      Nancy Schorr and Nuls using Python 3.7, Flask, CSS, Html, etc." />

<link rel=stylesheet href="https://linkcheck.schorrmedia.com/static/style.css">
<link rel=stylesheet href="../static/style.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
<title>&emsp;PSU-Calc Token-Life</title>
<style>
<---- this is the latest copy --->

</style>
</head>

<body>


<div style="border-width: 1em; border-bottom:0em; border-style: solid; border-color:white; z-index:-2; ">   <!--main area --->

<div id="container" style="background: linear-gradient(to bottom right, #ebffff 0%, #004a6b 90%); z-index:1;" >

    <p><br></p>
   <p><br></p>
  <p id="text" style="padding-top:.1em; color:#004a6b;">
Welcome to TokenLife
  </p>
</div>
</div>
<p>&nbsp;</p>

<body>

<container style="margin: 2em;">

  <p style="font-size: 17px; color:blue; font-weight: 700; margin-right:7em; float: right;">
  Wallet &emsp; Explorer
  </p>

<img src="./vikinglogo.JPG" alt="VikingChain">
<hr class="hrstyle">

<h2 style="margin-left:36%;  color:darkslateblue;
  text-shadow: .03em  .03em .03em #c6e7d1;">
       Token Calc</h2>

<p style="margin-left:12em;margin-right:12em;padding:1em;color:#4d4d5a;font-size:x-small;">

VikingChain is the first product review platform that ensures un-biased product review by employing the
decentralized benefits of blockchain technology. Users ....
</p>

  <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< form >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->




  <div style="margin-left:6em; font-size: x-small;">


    <span style="font-weight:700;color:rgb(55, 53, 66);margin-left:7em;">Enter login information:</span><br> &emsp;<br>
    <span style="margin-left:15em;">Account number </span> <input id="acctaddy" size="39em" class="myinputstyle" ></input>



<br><br><br>

<form action="indexn" method ="POST" >
<div style="font-family: Montserrat, sans-serif;
     font-weight: 700; padding-left: 2em; padding-top: .5em; color:#0e0e3f;">

<input type="text" size="24" name="name">&nbsp;


<input type="submit" value="Do it" style="min-width:3em;  background: linear-gradient(to bottom right, #ebffff 0%, #004a6b 100%);
       color:white; text-shadow: .03em  .03em .03em #e1e1ea; padding: .5em 1em; font-size: 1em;
        font-weight:500;   font-family:Montserrat, sans-serif; border-radius:.7em;">





</div>

</body>

</html>
