
  .hrstyle {
    margin-left: 6em;
    margin-right: 11em;
  }
  .hrstyle2 {
    margin-left: 4em;
    margin-right: 14em;
  }
  .myinputstyle {
    font-size: x-small;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 42em;
  }

  .buttonstyle {
    background:slategray;
    color: rgb(251, 251, 253);
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: .03em  .03em .03em #0e0e4d;
    font-family: Montserrat, sans-serif;
    border-radius: 1px;
    padding-left: 2em;
    padding-right: 2em;
    width: 300px;
    height: 45px;
    margin-left: 16em;

  }

  .pstyle {
    margin-left: 6em;
    margin-right: 7em;
    padding: 1em;
    color: #2c2c3a;
  }

  .pstyle2 {
    margin-left:3em;margin-right: 4em;padding: .5em;  color: #2c2c3a; 
  }

html {
  font-family: 'Montserrat', sans-serif;
  background: #c9e0df;
  padding: 1rem;
}

body {
  max-width: 87%;
  margin: 0 auto;
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: slategrey;
  margin: 5px 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

.mybutton{
        min-width:3em;  
        background: linear-gradient(to bottom right, #ebffff 0%, #004a6b 100%);
        color:white; 
        text-shadow: .03em  .03em .03em #e1e1ea; padding: .5em 1em; font-size: 2em;
        font-weight:500;   
        font-family:Montserrat, sans-serif; border-radius:.7em;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
  position: static;
  z-index:1;
  height: 30px;
  width: 79%;
  color: white;
  font-size: 1.9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 750;
  padding-top:.5em;
  text-align: center;
  box-shadow:2px 4px 8px #168a8a;
  background-color: #78D0EA;
  background-color: cyan; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #78D0EA, #168a8a); /* Standard syntax (must be last) */
}

.box2{
  position: static;
  z-index:1;
  height: 30px;
  width: 79%;
  color: white;
  font-size: 1.9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 750;
  padding-top:.5em;
  text-align: center;
  background-color: #78D0EA;
  background-image: "https://schorrmedia.com/wp-content/uploads/2013/09/freeVectorBackgroundLandscape.jpg"
}

  .hrstyle {
    margin-left: 6em;
    margin-right: 11em;
  }

  .hrstyle2 {
    margin-left: 4em;
    margin-right: 14em;
  }
  .myinputstyle {
    font-size: x-small;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 42em;
  }

  .buttonstyle {
    background:slategray;
    color: rgb(251, 251, 253);
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: .03em  .03em .03em #0e0e4d;
    font-family: Montserrat, sans-serif;
    border-radius: 1px;
    padding-left: 2em;
    padding-right: 2em;
    width: 300px;
    height: 45px;
    margin-left: 16em;

  }

  .pstyle {
    margin-left: 6em;
    margin-right: 7em;
    padding: 1em;
    color: #2c2c3a;
  }