<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


#container {
  height: 4em;
    width: 100%;
  position: relative;
}

#image {
    z-index=-1;
  position: absolute;
height: 6em;
width: 100%;
}

#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 1.9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
   text-shadow: .05em .05em .05em grey;
  padding-left: 1em;
  padding-bottom: 2em;
  text-align: center;

 .bcentered {
    position: absolute;
    bottom: .5em;
    left: 1em;
}

.text-body {
  color: black;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-shadow: .01em .01em .01em grey;

 .bcentered {
    position: absolute;
    bottom: .5 em;
    left: 1 em;
}

html {
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: slategrey;
  margin: 10px;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}


.content form {
  display: flex;
  flex-direction: column;
}


input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
